body {
    font-family: "Handjet", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }

  /*Header stuff here*/
header {
background-color: #CAA9D9;
padding: 1rem 2vw;
}
header h1 {
margin: 0;
color: #251940;
}
header p {
margin: 0;
color: #251940;
letter-spacing: .5px;
}

/*Nav stuff goes here*/
nav {
background-color: #846CD9;
}
nav ul {
list-style-type: none;
padding: 0 2vw;
margin: 0;
display: flex;
}
nav a {
font: 1.1rem;
text-decoration: none;
color: #251940;
font-weight: 700;
display: block;
padding: .83rem 2rem;
}
nav li.active a {
background-color: #251940;
    color: #CAA9D9;
}
nav a:hover {
color: white;
}

/*stuff for the main*/
main {
padding: 1rem 2vw;
}
main h1 {
color: #583BBF
}
main h2 {
color: #251940;
margin-bottom: .2rem;
}
main p {
color:#2f3133;
margin: 0 0 .3rem 0;
}
main ol {
padding: .5rem 3vw;
background-color: #CAA9D9;
}
main dl dt {
color: #9305F2;
font-weight: 700;
}
main dl dd {
color: #251940;
font-size: .9rem;
}
main ul {
list-style-type:circle
}
main ul li {
line-height: 125%;
margin-bottom: .5rem;
font-size: .9rem;
}

main address {
font-style: normal;
color: #CAA9D9;
background-color: #251940;
padding: .5rem;
width: 12.5rem;
border: 1px solid #CAA9D9;
border-radius: 5px;
}

main a {
color: #251940
}
main a:hover {
color: #9305F2
}

figure.wrapped {
  width: 30%;
  margin: 0 0 0 2%;
  float: right;
}
figure.wrapped img {
  width: 100%;
  height: auto;
}
figure.wrapped figcaption {
  text-align: center;
  font-size: .75rem;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
}

div.gallery figure {
  margin: .5rem 2% 0 0;
}

div.gallery figcaption {
  text-align: center;
  font-size: .8rem;
  color: #251940;
}

.myForm fieldset {
  border: 1px solid #9305F2;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.myForm legend {
  color: #251940;
  font-size: .8rem;
}
.myForm label {
  margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
  display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea {
  border: solid 1px #888;
  padding: .3rem;
  width: 250px;
  border-radius: .3rem;
  font-family: "Handjet", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.myForm textarea {
  height: 6rem;
}

.myForm :required {
  background-color: whitesmoke
}

.myForm [type=submit] {
  background-color: #251940;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: white;
  margin: 1rem 0 0 1vw;
}

/*Footer stuff here*/
footer {
background-color: #CAA9D9;
text-align: center;
color: #251940;
padding: 1rem 0;
font-size: .8rem;
}
footer a {
color: #251940;
}